<div class="center jumbotron">
	<h1>Welcome to <br>Members Only!</h1>
	<h2>
		This is an exclusive clubhouse where members can write embarrassing posts about non-members.
	</h2>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>