<footer class="footer">
	<small>
		Made by: <a href="https://github.com/jairusjimenez/">Jairus Jimenez</a>
	</small>
	<nav>
		<ul>
			<a href="http://www.theodinproject.com/home">The Odin Project</a>
		</ul>
	</nav>
</footer>